<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linkearlos -->
    <link href="/public/css/register.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
</head>
<body>
    <header>
        <div class="logo-busqueda">
            <a href="/views/home.html"><img src="/public/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre"></a>
        
            <form action="/views/home.html" class="header-busqueda">
                <input type="text" placeholder="Buscar productos, marcas" />
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <p class="subtitulo"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="navegacion">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/views/register.html">Creá tu cuenta
                    <i class="far fa-address-card"></i>
                    </a></li>
                <li><a href="/views/login.html">Ingresá
                    <i class="fas fa-sign-in-alt"></i>
                    </a></li>
                <li><a href="#">Mis compras
                    <i class="fas fa-shopping-basket"></i>
                    </a></li>
            </ul>
        </nav>
        <div class="burgermenu">
            <i class="fa fa-bars burger"></i>
          </div>
    </header>

    <main>
        <div class="contenedor-formulario">
            <form class="formulario" action="/views/register.html" method="POST">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" id="nombre" placeholder="Escribe tu nombre" name="nombre" required minlength="4" maxlength="10"/>
    
                <label for="usuario">Nombre de Usuario</label>
                <input type="text" id="usuario" placeholder="Escribe tu usuario" name="usuario" required minlength="4" maxlength="16"/>  
    
                <label for="naciemiento">Fecha de Nacimiento</label>
                <input type="date" id="nacimiento" placeholder="Escribe tu fecha de nacimiento" name="naciemiento" />  
    
                <label for="domicilio">Domicilio</label>
                <input type="text" id="domicilio" placeholder="Escribe tu domicilio" name="domicilio" required />  
    
                <label for="perfil">Perfil del usuario</label>
                <div class="formulario-perfil">
                    <p><input type="radio" name="perfil" value="Quieres Comprar"/><span>Comprador</span></p>
                    <p><input type="radio" name="perfil" value="Quieres Vender"/><span>Vendedor</span></p>
                </div>
    
                <label for="perfil">Categorias de Interes</label>
                <div class="formulario-intereses">
                    <p><input type="checkbox" name="interes" value="Electro"/><span>Electro</span></p>
                    <p><input type="checkbox" name="interes" value="Moda"/><span>Moda</span></p>
                    <p><input type="checkbox" name="interes" value="Hogar"/><span>Hogar</span></p>
                    <p><input type="checkbox" name="interes" value="Jugueteria"/><span>Juguetería</span></p>
                    <p><input type="checkbox" name="interes" value="Vida Sana"/><span>Vida sana</span></p>       
                </div>
    
                <label for="foto">Foto de Usuario</label>
                <input type="file" id="foto" placeholder="Foto de Usuario" name="foto" /> 
    
                <label for="contraseña" >Contraseña</label>
                <input type="password" id="contraseña" name="clave" placeholder="Escribe tu contraseña" required minlength="4" maxlength="10"/>
    
                <label for="confirmaContraseña">Confirma contraseña</label>
                <input type="password" id="confirmaContraseña" name="clave" placeholder="Repite tu contraseña" required minlength="4" maxlength="10"/>
    
                <div class="boton-enviar">
                    <button type="reset">Resetear</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
        

    </main>

    <footer class="footer">
        <div class="footer-tarjeta"> 
            <i class="fas fa-credit-card"></i><h4>Paga con tarjeta o en efectivo</h4>
            <p> Pagá con tarjeta o en efectivo
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>

        <div class="footer-gratis">
            <i class="fas fa-gift"></i><h4>Envio gratis desde $ 2.500</h4>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>  

        <div class="footer-seguridad">
            <i class="fas fa-user-shield"></i><h4>Seguridad, de principio a fin</h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>